extends layout
block content
   div(id="main")
    div(class="container")
       each contObj in tpl_elements
           - var question = contObj.question;
           - var id = contObj.id;
           div(class="settings")
              div(class="row")
                 div(class="question")
                  =  question + ' '
                  p(style="margin-top: -10px; font-size:0.5em;")= contObj.date
                 div(class="switch")
                 - var link = '433/'+id;
                 - var weblink = 'location.href=\''+link+'\'';
                      if (contObj.state == true)
                        input(onclick=weblink, name="id",value=id, id=id, class="cmn-toggle cmn-toggle-round", type="checkbox", checked="checked")
                        label(for=id, style="margin-top: 5px;")
                      else
                        input(onclick=weblink, name="id",value=id, id=id, class="cmn-toggle cmn-toggle-round", type="checkbox", unchecked="unchecked")
                        label(for=id, style="margin-top: 5px;")

       div(class="settings", style="padding-bottom: 1em;")
          div(class="row")
