doctype html
html
    head
        title= tpl_bodytitle
        meta(name='viewport',  charset="utf-8", content='width=device-width, initial-scale=1.0')
        link(rel='apple-touch-icon', href=tpl_url_home+'/css/iphone-icon.png')
        link(rel='stylesheet', href=tpl_url_home+'/css/base.css')
        link(rel='stylesheet', href=tpl_url_home+'/css/style.css')
        link(rel='stylesheet', href=tpl_url_home+'/css/color.css')
        link(rel='stylesheet', href=tpl_url_home+'/css/awesome.css')
        link(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        link(type="text/javascript", src=tpl_url_home+'/js/html5shiv.min.js')
    body
        link(type="text/javascript", src=tpl_url_home+'/js/http.js')
        include ./inc_header.pug

        block content

        include ./inc_footer.pug

